<template>
  <div>
    <form novalidate class="md-layout" @submit.prevent="placeOrder">
      <md-card class="md-layout-item md-size-100 md-small-size-100 step-item">
        <md-card-header>
          <div class="md-title">
            Billing Details
          </div>
        </md-card-header>

        <md-card-content>
          <Address :key="'billing'" :address="billingAddress">
            <BillingMethods :billing-method="billingMethod" :payment-methods="paymentMethods" v-bind.sync="cardDetails" @method-selected="updateBillingMethod" />
          </Address>
          <md-divider class="section-divider" />
          <BillingSummary :totals="totals" />
        </md-card-content>

        <md-progress-bar v-if="sending" md-mode="indeterminate" class="md-accent" />

        <md-card-actions>
          <md-button type="submit" class="md-raised md-accent" :disabled="sending">
            Place order
          </md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="sendingDone">
        Billing saved!
      </md-snackbar>
    </form>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Billing',
  data () {
    return {
      sending: false,
      sendingDone: false,
      cardDetails: {
        cardNumber: '',
        cardName: '',
        exp: '',
        cvc: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      billingAddress: 'getCartBillingAddress',
      paymentMethods: 'getAvailablePaymentMethods',
      totals: 'getCartTotals'
    }),
    billingMethod: {
      get () {
        return this.$store.getters.getCartShippingMethod
      },
      set (methodData) {
        return this.$store.commit('setCartBillingMethod', {
          method: methodData.code
        })
      }
    }
  },
  watch: {
    'cardDetails.exp' (newValue) {
      if (this.cardDetails.exp.length === 2) {
        this.cardDetails.exp += '/'
      } else if (this.cardDetails.exp.length < 2) {
        this.cardDetails.exp.replace('/', '')
      }
    }
  },
  methods: {
    updateBillingMethod (methodData) {
      this.billingMethod = methodData
    },
    async placeOrder () {
      this.$store.commit('setCartBillingAddress', this.billingAddress)
      const dateDetails = this.cardDetails.exp.split('/')
      this.$store.commit('setCreditCardDetails', {
        cardNumber: this.cardDetails.cardNumber,
        cardName: this.cardDetails.cardName,
        expMonth: dateDetails[0],
        expYear: '20' + dateDetails[1],
        cvc: this.cardDetails.cvc
      })
      this.sending = true
      await this.$store.dispatch('placeOrder')
      this.sendingDone = true
      this.sending = false
      this.$router.push('/confirmation')
    }
  }
}
</script>
