<template>
  <div>
    <form novalidate class="md-layout" @submit.prevent="confirmShipping">
      <md-card class="md-layout-item md-size-100 md-small-size-100">
        <md-card-header>
          <div class="md-title">
            Shipping Details
          </div>
        </md-card-header>

        <md-card-content>
          <Address :key="'shipping'" :address="shippingAddress">
            <ShippingMethods :shipping-method="shippingMethod" :shipping-address="shippingAddress" @method-selected="updateShippingMethod" />
          </Address>
        </md-card-content>

        <md-progress-bar v-if="sending" md-mode="indeterminate" class="md-accent" />

        <md-card-actions>
          <md-button type="submit" class="md-raised md-accent" :disabled="sending">
            Continue
          </md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="sendingDone">
        Shipping saved!
      </md-snackbar>
    </form>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Shipping',
  data () {
    return {
      sending: false,
      sendingDone: false
    }
  },
  computed: {
    ...mapGetters({
      shippingAddress: 'getCartShippingAddress'
    }),
    shippingMethod: {
      get () {
        return this.$store.getters.getCartShippingMethod
      },
      set (methodData) {
        return this.$store.commit('setCartShippingMethod', {
          shipping_carrier_code: methodData.carrier_code,
          shipping_method_code: methodData.method_code
        })
      }
    }
  },
  methods: {
    updateShippingMethod (methodData) {
      this.shippingMethod = methodData
    },
    async confirmShipping () {
      this.$store.commit('setCartShippingAddress', this.shippingAddress)
      this.sending = true
      await this.$store.dispatch('saveShippingInfo')
      this.sendingDone = true
      this.sending = false
      this.$emit('go-to-billing')
    }
  }
}
</script>
