@use "~vue-material/src/components/MdLayout/variables" as layout;
@import 'vue-material/dist/vue-material.min.css';
@import 'vue-material/dist/theme/default.css';
@import './variables';

@media only screen and (min-width: layout.$md-breakpoint-medium) {
  @import './medium';
}
@media only screen and (min-width: layout.$md-breakpoint-large) {
  @import './large';
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.md-app-container {
  width: 100%;
}

.md-app-toolbar {
  display: flex;
  justify-content: center;
  .toolbar-item {
    flex: 1;
  }
  .app-logo {
    flex: 1.5;
  }
  .md-title {
    display: flex;
    max-width: 120px;
  }
}

.mobile-cart {
  z-index: 2;
}

.page-container {
  display: flex;
  height: 100vh;
}

.md-app {
  max-height: 100vh;
  width: 100%;
  .md-content.md-app-content {
    display: flex;
    justify-content: center;
  }
}

.md-card-header {
  display: flex;
  justify-content: center;
  .center {
    display: flex;
    justify-content: center;
  }
}

.methods-section, .summary-section {
  display: flex;
  flex-direction: column;
  .md-title {
    display: flex;
    justify-content: center;
  }
}

.methods-section {
  .methods-list {
    display: flex;
    justify-content: center;
  }
}

.md-divider {
  &.section-divider {
    margin: 1em;
  }
}

.md-layout {
  .step-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.md-card-header {
  &.confirmation-header {
    display: flex;
    flex-direction: column;
  }
}

.md-card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .items-container {
    width: 100%;
  }
}

.status {
  span {
    font-weight: bold;
  }
  .pending {
    color: orange
  }
  .processing {
    color: green
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  .md-card-header {
    display: flex;
    flex-direction: column;
  }
}

.md-card-header {
  .product-detail {
    display: flex;
    justify-content: center;
  }
}

@import "~vue-material/dist/theme/engine"; // Import the theme engine


@include md-register-theme("default", (
  primary: md-get-palette-color(bluegrey, 500), // The primary color of your application
  accent: md-get-palette-color(amber, 600) // The accent or secondary color
  ));

@import "~vue-material/dist/theme/all"; // Apply the theme

