<template>
  <div class="products-container">
    <div v-if="products && products.length" class="products-card">
      <Product v-for="product in products" :key="product.id" :product="product" />
    </div>
    <div v-else>
      No products
    </div>
  </div>
</template>
<script>
export default {
  name: 'Category',
  async asyncData ({ params, $config, $axios, store }) {
    const products = await store.dispatch('getProducts', { catId: params.id })
    return {
      products
    }
  },
  data () {
    return {
      products: []
    }
  }
}
</script>
<style lang="scss" scoped>
  .products-container {
    .products-card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
</style>
