<template>
  <div class="credit-card-section">
    <vue-c-card
      :number="number"
      :holder="holder"
      :exp="exp"
      :cvc="cvc"
      :is-typing-cvc="isTypingCvc"
    />

    <div class="md-layout md-gutter">
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="number">Number</label>
          <md-input
            id="number"
            type="text"
            maxlength="16"
            md-counter="false"
            :value="number"
            @input="$emit('updateCardNumber', $event)"
          />
        </md-field>
      </div>
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="holder">Holder</label>
          <md-input
            id="holder"
            type="text"
            :value="holder"
            @input="$emit('updateCardName', $event)"
          />
        </md-field>
      </div>
    </div>

    <div class="md-layout md-gutter">
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="exp">Expiration Date (Month/Year)</label>
          <md-input
            id="exp"
            type="text"
            maxlength="5"
            md-counter="false"
            :value="exp"
            @input="$emit('updateCardExp', $event)"
          />
        </md-field>
      </div>
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="cvc">CVC</label>
          <md-input
            id="cvc"
            type="text"
            maxlength="3"
            md-counter="false"
            :value="cvc"
            @input="$emit('updateCardCvc', $event)"
            @focus="isTypingCvc = true"
            @blur="isTypingCvc = false"
          />
        </md-field>
      </div>
    </div>
  </div>
</template>

<script>
import VueCCard from 'vue-ccard'

export default {
  name: 'CreditCard',
  components: {
    VueCCard
  },
  props: {
    number: {
      type: String,
      required: true
    },
    holder: {
      type: String,
      required: true
    },
    exp: {
      type: String,
      required: true
    },
    cvc: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      isTypingCvc: false
    }
  }
}
</script>
<style lang="scss" scoped>
  .vue-c-card {
    display: flex;
    justify-content: center;
  }
</style>
