<template>
  <div class="container">
    <client-only>
      <md-card class="md-layout-item md-size-100 md-small-size-100 step-item">
        <md-card-header class="confirmation-header">
          <div class="md-title center">
            Order #{{ order.id }} Details
          </div>
          <div v-if="order.items" class="status center">
            Status: <span :class="{ 'processing': order.status === 'PROCESSING', 'pending': order.status === 'OPEN' || order.status === 'PENDING'}">{{ order.status }}</span>
          </div>
        </md-card-header>

        <md-card-content>
          <div v-if="order.items">
            <md-list class="md-double-line">
              <order-item v-for="(orderItem, index) in order.items" :key="index" :item="orderItem">
                <md-divider v-if="order.items[index + 1]" class="md-inset" />
              </order-item>
            </md-list>
            <md-divider />
            <order-summary :totals="order.totals" />
            <order-charge v-if="order.charge" :charge="order.charge" />
          </div>
          <div v-else>
            No order!
          </div>
        </md-card-content>
        <md-card-actions v-if="order.id">
          <md-button class="md-raised md-accent" @click="clearOrder">
            Clear Order
          </md-button>
        </md-card-actions>
      </md-card>
    </client-only>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Confirmation',
  data () {
    return {
      orderWorker: '',
      interval: ''
    }
  },
  computed: {
    ...mapGetters({
      order: 'getOrder'
    })
  },
  created () {
    if (process.browser && this.order.id && this.order.status !== 'PROCESSING') {
      this.orderWorker = this.$worker.createOrderWorker()
      this.interval = setInterval(() => {
        this.orderWorker.postMessage(
          { url: this.$config.aws.url + this.$config.aws.endpoints.getOrder.replace('{cartId}', this.order.id) }
        )
      }, 1500)
      this.orderWorker.onmessage = (e) => {
        if (e.data.order) {
          this.$store.commit('setOrder', e.data.order)
        }
        if (e.data.order.status === 'PROCESSING') {
          clearInterval(this.interval)
          this.orderWorker.terminate()
        }
      }
    }
  },
  methods: {
    clearOrder () {
      this.$store.commit('setOrder', {})
      clearInterval(this.interval)
      if (this.orderWorker) {
        this.orderWorker.terminate()
      }
    }
  }
}
</script>
