<template>
  <div class="methods-section">
    <div class="md-title">
      Shipping Methods
    </div>
    <div class="methods-list">
      <md-radio
        v-for="(method, index) in methods"
        :key="index"
        v-model="selectedMethod"
        :value="method"
        class="md-accent"
        @change="methodSelected"
      >
        {{ method.carrier_title }}
      </md-radio>
    </div>
  </div>
</template>
<script>
import find from 'lodash/find'
import { mapGetters } from 'vuex'

export default {
  name: 'ShippingMethods',
  props: {
    shippingMethod: {
      type: Object,
      required: true
    },
    shippingAddress: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      selectedMethod: false
    }
  },
  computed: {
    ...mapGetters({
      methods: 'getAvailableShippingMethods'
    })
  },
  async mounted () {
    await this.$store.dispatch('estimateShippingMethods', this.shippingAddress)
    this.selectedMethod = find(this.methods, { carrier_code: this.shippingMethod.shipping_carrier_code })
  },
  methods: {
    methodSelected (value) {
      this.$emit('method-selected', this.selectedMethod)
    }
  }
}
</script>
