<template>
  <div>
    <md-list-item>
      <div class="md-list-item-text">
        <span>{{ item.name }}</span>
        <span>{{ item.sku }}</span>
        <p>{{ item.qty }} x ${{ item.price }}</p>
      </div>
    </md-list-item>
    <slot />
  </div>
</template>
<script>
export default {
  name: 'OrderItem',
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>
